h1 {
    color:red;
}

.listeArticle {
    display:flex;
    flex-wrap: wrap;
    width:100%;
}

.listeArticle article {
    width: calc( 100% / 3);
    order:10;
}

article.sport {
    order:1;
    width: 100%;
}

article img {
    width:100%;
    height:30vh;
    object-fit:cover;
}
.admin {
    display: flex;
    flex-direction: column;
}
.admin {
    margin:0..admin {
        margin:0.25rem;
        padding:0.25rem;
    }
    input {
            width: 150px;
            padding: 4px;
            vertical-align: 100%;
            text-align: center;
    }
    table {
        width:100%;
        border-collapse: collapse;
    }
    table thead {
        background-color: #aaaaaa;
    }
    td {
        border:1px solid #aaaaaa;
        padding:0.25rem;
    }
    
    .cache {
        display:none;
    }
    
    
    section.updateSection {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.9);
        color: #ffffff;
        z-index: 999;
        padding:2rem;
    }
    
    form .infosUpdate {
        display:flex;
        width:100%;
        flex-direction: column;
    }
    
    .infosUpdate > * {
        margin:0.25rem;
        padding:0.25rem;
    }25rem;
    padding:0.25rem;
}
input {
        width: 150px;
        padding: 4px;
        vertical-align: 100%;
        text-align: center;
}
table {
    width:100%;
    border-collapse: collapse;
}
table thead {
    background-color: #aaaaaa;
}
td {
    border:1px solid #aaaaaa;
    padding:0.25rem;
}

.cache {
    display:none;
}


section.updateSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    color: #ffffff;
    z-index: 999;
    padding:2rem;
}

form .infosUpdate {
    display:flex;
    width:100%;
    flex-direction: column;
}

.infosUpdate > * {
    margin:0.25rem;
    padding:0.25rem;
}

